@model GameWorld.Models.Order.OrderConfirmVM
@{
    ViewData["Title"] = "Confirm";
}

<h1>Confirm</h1>
<form asp-controller="Order" asp-action="Create" method="post">
    <div>
        <h4>OrderConfirmVM</h4>
        <hr />
        <dl class="row">
            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class="col-sm-2">
                Picture
            </dt>
            <dd class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.Image)" alt="Image" width="100" />
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Platform)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Platform)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", min = "1", onchange = "calculateTotalPrice()" } })
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount)
            </dd>
             <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd class="col-sm-10">
                <span id="totalPrice"></span>
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-primary" />
    </div>
    <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
    <input type="hidden" asp-for="Quantity" value="@Model.Quantity" />
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
</form>
<div>
    <a asp-controller="Product" asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function() {
        var price = parseFloat('@Model.Price');
        var discount = parseFloat('@Model.Discount');
        var quantity = parseInt($('#Quantity').val());
        var totalPrice = (price * quantity) * ((100 - discount) / 100);
        $('#TotalPrice').val(totalPrice.toFixed(2));

        $('#Quantity').change(function() {
            quantity = parseInt($('#Quantity').val());
            totalPrice = (price * quantity) * ((100 - discount) / 100);
            $('#TotalPrice').val(totalPrice.toFixed(2));
        });
    });
</script>