@model IEnumerable<GameWorld.Models.Order.OrderIndexVM>

@{
    ViewData["Title"] = "Index";
}
<body>
<h1>Index</h1>

<p>
    <a asp-controller="Product" asp-action="Index">Back to products</a>
</p>

<p>
        Product name: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
@foreach (var item in Model)
{
<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
            </div>

            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="@Html.DisplayFor(modelItem => item.Image)"
                      class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">Product: @Html.DisplayFor(modelItem => item.Product)</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Platform: @Html.DisplayFor(modelItem => item.Platform)</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Quantity: @Html.DisplayFor(modelItem => item.Quantity)</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Price: @Html.DisplayFor(modelItem => item.Price)</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Discount: @Html.DisplayFor(modelItem => item.Discount)</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Final Price: @Html.DisplayFor(modelItem => item.TotalPrice)</p>
                  </div>
                  
                
  </div></div></div></div></div></div></div></div>
</section>
}</body>