@*@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@


@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title mb-4">@ViewData["Title"]</h1>
                    <form id="account" method="post">
                        <div class="form-group">
                            <label for="firstname-input">First Name</label>
                            <input type="text" id="firstname-input" class="form-control" asp-for="Input.FirstName">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="lastname-input">Last Name</label>
                            <input type="text" id="lastname-input" class="form-control" asp-for="Input.LastName">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="address-input">Address</label>
                            <input type="text" id="address-input" class="form-control" asp-for="Input.Address">
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="phonenumber-input">Phone Number</label>
                            <input type="text" id="phonenumber-input" class="form-control" asp-for="Input.PhoneNumber">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="username-input">Username</label>
                            <input type="text" id="username-input" class="form-control" asp-for="Input.Username">
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email-input">Email</label>
                            <input type="email" id="email-input" class="form-control" asp-for="Input.Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password-input">Password</label>
                            <input type="password" id="password-input" class="form-control" asp-for="Input.Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password-input">Confirm Password</label>
                            <input type="password" id="confirm-password-input" class="form-control" asp-for="Input.ConfirmPassword">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>