@model IEnumerable<GameWorld.Models.Product.ProductIndexVM>

@{
    ViewData["Title"] = "Home Page";
}


<style>
.slideshow-container {
  position: relative;
  height: 60vh;
}

.mySlides {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s;
}

.mySlides.fade {
  opacity: 1;
}

.mySlides img {
  display: block;
  height: auto;

  margin: auto;
}

</style>
<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="~/images/razersale.png" />
  </div>
  <div class="mySlides fade">
    <img src="~/images/spring.png">
  </div>
  
</div>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4 mb-5" >
        <div class="card h-100">
            <img src="@item.Image" class="card-img-top product-image" alt="@item.ProductName" width="300" height="300">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.Description</p>
                <div class="mt-auto">
                    <p class="card-text"><strong>Price: </strong>@item.Price</p>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  const slides = document.getElementsByClassName("mySlides");
  for (let i = 0; i < slides.length; i++) {
    slides[i].classList.remove("fade");
  }
  slideIndex++;
  if (slideIndex > slides.length) { slideIndex = 1 }
  slides[slideIndex - 1].classList.add("fade");
  setTimeout(showSlides, 3400); // Change image every 5 seconds
}
</script>