@model GameWorld.Models.Product.ProductDetailsVM
@{
    ViewData["Title"] = @Model.ProductName;
}

<style>
    body {
        background-color: #f5f5f5;
        font-size: 16px;
        line-height: 1.5;
    }

    .heading {
        font-size: 20px;
        color: #ab8181;
    }

    .container {
        border-radius: 15px;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
    }

    .left-side-product-box img {
        max-width: 100%;
        height: auto;
    }

    @@media screen and (min-width: 768px) {
        .left-side-product-box {
            text-align: center;
        }
    }

    .right-side-pro-detail {
        margin-top: 20px;
    }

    @@media screen and (min-width: 992px) {
        .right-side-pro-detail {
            margin-top: 0;
        }
    }
</style>


<body>
    <div class=" border p-3 main-section bg-white container">
        <div class="row hedding m-0 pl-3 pt-0 pb-3">
            <h1 style="color: black">@Html.DisplayFor(model => model.ProductName)</h1>
        </div>
        <div class="row m-0">
            <div class="col-lg-4 left-side-product-box pb-3">
                <img src="@Html.DisplayFor(model => model.Image)" class="border p-3">
                @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                {

                    <a asp-action="Edit" asp-route-id="@Model.Id" )" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>

                }
            </div>
            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Platform</h3>
                            <h4 class="m-0 p-0" style="color: black; text-transform: uppercase;">@Html.DisplayFor(model => model.Platform)</h4>
                        </div>
                        <div class="col-lg-12">
                            <p class="m-0 p-0 price-pro">@Html.DisplayFor(model => model.Price)€</p>
                            <hr class="p-0 m-0">
                        </div>
                        <div class="col-lg-12 pt-2">
                            <h5>Description</h5>
                            <span>@Html.DisplayFor(model => model.Description)</span>
                            <hr class="m-0 pt-2 mt-2">
                        </div>
                        <div class="col-lg-12">
                            <p class="tag-section"><strong>Category: </strong><a href="">@Html.DisplayFor(model => model.CategoryName)</a></p>
                        </div>
                        @if (this.User.Identity.IsAuthenticated)
                        {

                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@Model.Id" />
                                <input type="number" name="quantity" value="1" />
                                <button class="btn btn-success" onclick="location.href='@Url.Action("AddToCart" , "Cart")'">Add to Cart</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
