@model IEnumerable<GameWorld.Models.Product.ProductIndexVM>
@using GameWorld.Models.Order

@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create" class="btn btn-success btn-sm">Add a Product</a>
    </p>
}
 <section style="background-color: #eee;">
        <div class="text-center container py-5">
            <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>

            <div class="row">
                @foreach (var item in Model)
                {
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"> <img src="@item.Image" class="w-100" /> </a>
                            
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">@item.ProductName</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>@item.CategoryName</p>
                            </a>
                            <h6 class="mb-3">@item.Price</h6>
                           @if (this.User.Identity.IsAuthenticated)
{
    @*<form method="post" asp-action="Add" asp-controller="ShoppingCart">
        <input type="hidden" name="productId" value="@item.Id" />
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>*@

                                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                    <input type="hidden" name="productId" value="@item.Id" />
                                    <input type="number" name="quantity" value="1" />
                                    <button type="submit">Add to Cart</button>
                                </form>
}
<a asp-action="Add" asp-controller="ShoppingCart"></a>
                        </div>
                    </div>
                </div>
                }
            </div>

        </div>
</section>