@model IEnumerable<GameWorld.Models.Product.ProductIndexVM>
@using GameWorld.Models.Order

@{
    ViewData["Title"] = "Products";
}

<style>
.text-center.container.py-5 {
  background-color: #FFFFFF;
  border-radius:15px;
}

#container-round-white
{
  background-color: #FFFFFF;
  border-radius:15px;
  padding: 20px;
  height:22vh;
}
#space{
    padding:4px;
}
#little-space{
    padding:1px;
}
#card-round-borders{
    border-radius: 15px;
}


</style>


@*Category : <input type="text" name="searchStringCategoryName" />*@
@*<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Category : <input type="text" name="searchStringCategoryName" />
        <input type="submit" value="Filter" />
    </p>
</form>*@

<form asp-controller="Product" asp-action="Index" method="get">
    <div id="container-round-white">


    <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-control-small" id="category" name="searchStringCategoryName">
            <option value="">All</option>
            <option value="game">Game</option>
            <option value="dlc">DLC</option>
            <option value="console">Console</option>
            <option value="accessory">Accessory</option>
        </select>
         @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    
        <a asp-action="Create" style="float: right;" class="btn btn-success btn-sm">Add a Product</a>
    
}
    </div>
    <div class="form-group">
        <label for="platform">Platform:</label>
        <div id="platform" class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-dark">
                <input type="checkbox" name="searchStringPlatformName" value="ps4">PS4
            </label>
            <label class="btn btn-outline-dark">
                <input type="checkbox" name="searchStringPlatformName" value="ps5">PS5
            </label>
            <label class="btn btn-outline-dark">
                <input type="checkbox" name="searchStringPlatformName" value="pc">PC
            </label>
            <label class="btn btn-outline-dark">
                <input type="checkbox" name="searchStringPlatformName" value="xbox">Xbox
            </label>
            <label class="btn btn-outline-dark">
                <input type="checkbox" name="searchStringPlatformName" value="nintendo">Nintendo
            </label>
           
        </div>
        <p id="little-space"></p>
         <button type="submit" style="float: right;" class="btn btn-danger">Clear filters</button>
         <button type="submit" style="" class="btn btn-primary">Filter</button>
    </div>
    </div>
    
</form>
<p id="space"></p>
<body>
 
        <div class="text-center container py-5">
            
            <h1>All products</h1>
            <div class="row">
                @foreach (var item in Model)
                {
                 <div class="col-lg-4 col-md-12 mb-4">
                    <div id="card-round-borders" class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                         <a asp-action="Details" asp-route-id="@item.Id" > <img src="@item.Image" id="card-round-borders" class="w-100 img-thumbnail" /> </a>   

                          @if(item.Platform.ToLower().Equals("ps5"))
                            { 
                                <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-primary ms-2">PS5</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
                            }
                             @if(item.Platform.ToLower().Equals("ps4") )
                            { 
                                <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-info ms-2">PS4</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
                            }

                            @if(item.Platform.ToLower().Equals("nintendo"))
                            { 
                                <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-danger ms-2">Nintendo</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
                            }
                            @if(item.Platform.ToLower().Equals("xbox"))
                            { 
                                <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-success ms-2">Xbox</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
                            }

                             @if(item.Platform.ToLower().Equals("pc"))
                            { 
                                <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-dark ms-2">PC</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
                            }
                        </div>
                       
                        <div class="card-body">
                          <a href="" class="text-reset">
                            <h5 class="card-title mb-3">@item.ProductName</h5>
                          </a>
                          <a href="" class="text-reset">
                            <p>@item.CategoryName</p>
                          </a>
                            <h6 class="mb-3">@item.Price€</h6>
                           @if (this.User.Identity.IsAuthenticated)
                           {

                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                             <input type="hidden" name="productId" value="@item.Id" />
                             <input type="number" name="quantity" value="1" min="1" />
                             <button type="submit">Add to Cart</button>
                            </form>
                           }

                     </div>
                     </div>
                 </div>
                }
            </div>

        </div>
</body>
